<article class="post">
    <style>
        .justify-space {
            justify-content: space-between;
            display: flex;
            background-color: #362B20;
            padding: 10px
        }

        .title {
            border: 0.25rem solid #362B20;
            margin-top: 20px;
        }

        .body-content {
            padding: 10px;
            color: black
        }
    </style>
    <div class="title">
        <div class="justify-space">
            <a href="/post/{{id}}">{{title}} </a>
            <span class="user-id"><i class="bi bi-person-circle"></i>
                Posted by {{user.username}} on
                {{format_date created_at}}</span>
        </div>
        <div class="body-content">
            <p class="post-body">{{body}}</p>
            <a href="/post/{{id}}"><i class="bi bi-chat-square-fill"></i>
                {{comments.length}}
                {{format_plural "comment" comments.length}}</a>
        </div>

    </div>
</article>